{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "http://api.fantasydata.net/v3/nfl/articles-rotoballer"
        },
        {
            "url": "https://api.fantasydata.net/v3/nfl/articles-rotoballer"
        }
    ],
    "info": {
        "contact": {
            "x-twitter": "nfldata"
        },
        "title": "NFL v3 RotoBaller Articles",
        "version": "1.0",
        "x-apisguru-categories": [
            "entertainment"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_nfldata_profile_image.jpeg"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://fantasydata.com/downloads/swagger/nfl-v3-rotoballer-articles.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "fantasydata.net",
        "x-serviceName": "nfl-v3-rotoballer-articles"
    },
    "security": [
        {
            "apiKeyHeader": []
        },
        {
            "apiKeyQuery": []
        }
    ],
    "tags": [],
    "paths": {
        "/{format}/RotoBallerArticles": {
            "get": {
                "operationId": "RotoballerArticles",
                "parameters": [
                    {
                        "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
                        "in": "path",
                        "name": "format",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "xml",
                                "json"
                            ],
                            "default": "xml"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "ArticleID": {
                                                "type": "integer"
                                            },
                                            "Author": {
                                                "type": "string"
                                            },
                                            "Content": {
                                                "type": "string"
                                            },
                                            "Players": {
                                                "items": {
                                                    "properties": {
                                                        "Name": {
                                                            "type": "string"
                                                        },
                                                        "PlayerID": {
                                                            "type": "integer"
                                                        },
                                                        "Position": {
                                                            "type": "string"
                                                        },
                                                        "Team": {
                                                            "type": "string"
                                                        },
                                                        "TeamID": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "Source": {
                                                "type": "string"
                                            },
                                            "TermsOfUse": {
                                                "type": "string"
                                            },
                                            "Title": {
                                                "type": "string"
                                            },
                                            "Updated": {
                                                "type": "string"
                                            },
                                            "Url": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "RotoBaller Articles"
            }
        },
        "/{format}/RotoBallerArticlesByDate/{date}": {
            "get": {
                "operationId": "RotoballerArticlesByDate",
                "parameters": [
                    {
                        "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
                        "in": "path",
                        "name": "format",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "xml",
                                "json"
                            ],
                            "default": "xml"
                        }
                    },
                    {
                        "description": "The date of the news.\n<br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.",
                        "in": "path",
                        "name": "date",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "ArticleID": {
                                                "type": "integer"
                                            },
                                            "Author": {
                                                "type": "string"
                                            },
                                            "Content": {
                                                "type": "string"
                                            },
                                            "Players": {
                                                "items": {
                                                    "properties": {
                                                        "Name": {
                                                            "type": "string"
                                                        },
                                                        "PlayerID": {
                                                            "type": "integer"
                                                        },
                                                        "Position": {
                                                            "type": "string"
                                                        },
                                                        "Team": {
                                                            "type": "string"
                                                        },
                                                        "TeamID": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "Source": {
                                                "type": "string"
                                            },
                                            "TermsOfUse": {
                                                "type": "string"
                                            },
                                            "Title": {
                                                "type": "string"
                                            },
                                            "Updated": {
                                                "type": "string"
                                            },
                                            "Url": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "RotoBaller Articles by Date"
            }
        },
        "/{format}/RotoBallerArticlesByPlayerID/{playerid}": {
            "get": {
                "operationId": "RotoballerArticlesByPlayer",
                "parameters": [
                    {
                        "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
                        "in": "path",
                        "name": "format",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "xml",
                                "json"
                            ],
                            "default": "xml"
                        }
                    },
                    {
                        "description": "Unique FantasyData Player ID.\nExample:<code>10000507</code>.",
                        "in": "path",
                        "name": "playerid",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "ArticleID": {
                                                "type": "integer"
                                            },
                                            "Author": {
                                                "type": "string"
                                            },
                                            "Content": {
                                                "type": "string"
                                            },
                                            "Players": {
                                                "items": {
                                                    "properties": {
                                                        "Name": {
                                                            "type": "string"
                                                        },
                                                        "PlayerID": {
                                                            "type": "integer"
                                                        },
                                                        "Position": {
                                                            "type": "string"
                                                        },
                                                        "Team": {
                                                            "type": "string"
                                                        },
                                                        "TeamID": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "Source": {
                                                "type": "string"
                                            },
                                            "TermsOfUse": {
                                                "type": "string"
                                            },
                                            "Title": {
                                                "type": "string"
                                            },
                                            "Updated": {
                                                "type": "string"
                                            },
                                            "Url": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "RotoBaller Articles by Player"
            }
        }
    },
    "components": {
        "schemas": {
            "Article": {
                "properties": {
                    "ArticleID": {
                        "type": "integer"
                    },
                    "Author": {
                        "type": "string"
                    },
                    "Content": {
                        "type": "string"
                    },
                    "Players": {
                        "items": {
                            "properties": {
                                "Name": {
                                    "type": "string"
                                },
                                "PlayerID": {
                                    "type": "integer"
                                },
                                "Position": {
                                    "type": "string"
                                },
                                "Team": {
                                    "type": "string"
                                },
                                "TeamID": {
                                    "type": "integer"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    },
                    "Source": {
                        "type": "string"
                    },
                    "TermsOfUse": {
                        "type": "string"
                    },
                    "Title": {
                        "type": "string"
                    },
                    "Updated": {
                        "type": "string"
                    },
                    "Url": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "PlayerInfo": {
                "properties": {
                    "Name": {
                        "type": "string"
                    },
                    "PlayerID": {
                        "type": "integer"
                    },
                    "Position": {
                        "type": "string"
                    },
                    "Team": {
                        "type": "string"
                    },
                    "TeamID": {
                        "type": "integer"
                    }
                },
                "type": "object"
            }
        },
        "securitySchemes": {
            "apiKeyHeader": {
                "in": "header",
                "name": "Ocp-Apim-Subscription-Key",
                "type": "apiKey"
            },
            "apiKeyQuery": {
                "in": "query",
                "name": "subscription-key",
                "type": "apiKey"
            }
        }
    }
}